html {
  scroll-behavior: smooth; /* Adds smooth scrolling behavior */
}
.stepper-dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem; /* 20px */
  font-weight: bold;
}

.stepper-line {
  width: 4px;
  height: 96px;
}
